In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/pulp_fiction_dialogue.csv", encoding = "ISO-8859-1")
df

,Line number,Character (in script),Character (actual),Off screen,Voice-over,Place,Time,Line,Word count
0,1,Young man,Pumpkin,False,False,int. coffee shop,morning,"No, forget it, it's too risky. I'm through doi...",11
1,2,Young woman,Honey Bunny,False,False,int. coffee shop,morning,"You always say that, the same thing every time...",15
2,3,Young man,Pumpkin,False,False,int. coffee shop,morning,I know that's what I always say. I'm always ri...,12
3,4,Young woman,Honey Bunny,False,False,int. coffee shop,morning,hmm...but you forget about it in a day or two -,10
4,5,Young man,Pumpkin,False,False,int. coffee shop,morning,"yeah, well, the days of me forgittin' are over...",18
...,...,...,...,...,...,...,...,...,...
1178,1179,Pumpkin,Pumpkin,False,False,int. coffee shop,morning,Not regularly.,2
1179,1180,Jules,Jules,False,False,int. coffee shop,morning,There's a passage I got memorized. Ezekiel 25:...,242
1180,1181,Jules,Jules,False,False,int. coffee shop,morning,It's cold.,2
1181,1182,Vincent,Vincent,False,False,int. coffee shop,morning,I think we oughta leave now.,6
1182,1183,Jules,Jules,False,False,int. coffee shop,morning,That's probably a good idea.,5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Line number            1183 non-null   int64
 1   Character (in script)  1183 non-null   object
 2   Character (actual)     1183 non-null   object
 3   Off screen             1183 non-null   bool
 4   Voice-over             1183 non-null   bool
 5   Place                  1183 non-null   object
 6   Time                   1183 non-null   object
 7   Line                   1183 non-null   object
 8   Word count             1183 non-null   int64
dtypes: bool(2), int64(2), object(5)
memory usage: 67.1+ KB

In [4]:
df.dtypes

Line number               int64
Character (in script)    object
Character (actual)       object
Off screen                 bool
Voice-over                 bool
Place                    object
Time                     object
Line                     object
Word count                int64
dtype: object

In [5]:
df.isnull().sum()
# We check for no NaNs in out script

Line number              0
Character (in script)    0
Character (actual)       0
Off screen               0
Voice-over               0
Place                    0
Time                     0
Line                     0
Word count               0
dtype: int64

In [6]:
df1 = df.rename(columns= {"Line number":"line_number", "Character (in script)": "character_script", "Character (actual)": "character", "Off screen": "off_screen", "Voice-over": "voice_over", "Place": "place", "Time": "time", "Line": "line", "Word count": "word_count"})
df1.head()

,line_number,character_script,character,off_screen,voice_over,place,time,line,word_count
0,1,Young man,Pumpkin,False,False,int. coffee shop,morning,"No, forget it, it's too risky. I'm through doi...",11
1,2,Young woman,Honey Bunny,False,False,int. coffee shop,morning,"You always say that, the same thing every time...",15
2,3,Young man,Pumpkin,False,False,int. coffee shop,morning,I know that's what I always say. I'm always ri...,12
3,4,Young woman,Honey Bunny,False,False,int. coffee shop,morning,hmm...but you forget about it in a day or two -,10
4,5,Young man,Pumpkin,False,False,int. coffee shop,morning,"yeah, well, the days of me forgittin' are over...",18

The CSV file contains each line of dialogue as a row, containing the following columns:

- line_number	

- character_script:
Some characters have multiple names in the script, such as "Young man" before we learn the actual name later on. It might be insteresting to analyse their sentiment in different stages of the film before and after they change names.

- character:
See "character_script"; this is the actual character name, even if the script has different name written for this piece of dialogue.

- off_screen:
Whether the line is said off screen or not: the character is in the scene location but not seen on camera.

- voice_over:
Whether the line is voiced over or not: the character is not in the scene location, but we hear their voice.

- place:
The scene location where line is said

- time:
The time of day when the line is said: either "morning", "day", or "night"

- line:
The line itself

- word_count:
Number of words in the line.

I drop all the columns I am not going to use

In [7]:
df2 = df1.drop(["line_number", "character_script", "off_screen", "voice_over", "time", "word_count"], axis= 1)
df2

,character,place,line
0,Pumpkin,int. coffee shop,"No, forget it, it's too risky. I'm through doi..."
1,Honey Bunny,int. coffee shop,"You always say that, the same thing every time..."
2,Pumpkin,int. coffee shop,I know that's what I always say. I'm always ri...
3,Honey Bunny,int. coffee shop,hmm...but you forget about it in a day or two -
4,Pumpkin,int. coffee shop,"yeah, well, the days of me forgittin' are over..."
...,...,...,...
1178,Pumpkin,int. coffee shop,Not regularly.
1179,Jules,int. coffee shop,There's a passage I got memorized. Ezekiel 25:...
1180,Jules,int. coffee shop,It's cold.
1181,Vincent,int. coffee shop,I think we oughta leave now.
1182,Jules,int. coffee shop,That's probably a good idea.

In [8]:
df2.place.unique()
# Place: int/ext = interior/exterior setting - actual place - (specific motion of the scene)

array(['int. coffee shop', "int. '74 Chevy (moving)",
       'int. Chevy (trunk)', 'ext. apartment building courtyard',
       'int. reception area (apartment building)', 'int. elevator',
       'int. apartment building hallway', 'int. apartment (room 49)',
       "ext. Sally LeRoy's", "int. Sally LeRoy's",
       "int. Lance's house (kitchen)", "int. Lance's bedroom",
       "ext. Marsellus Wallace's house",
       "int. Marsellus' house / living room",
       "int. Marsellus' house / dressing room", "ext. Jackrabbit Slim's",
       "int. Jackrabbit Slim's", "int. Jackrabbit Slim's (ladies room)",
       "int. Jackrabbit Slim's (dining area)",
       "int. Marsellus Wallace's home",
       "int. bathroom (Marsellus Wallace's house)", "int. Lance's house",
       "int. Vincent's malibu (moving)", "ext. Lance's house",
       'living room', 'int. spare room',
       "ext. front of Marsellus Wallace's house", 'int. locker room',
       'ext. alley (raining)', 'int. taxi (parked / raining)',
       'int. Willis locker room (auditorium)',
       'int. cab (moving / raining)', 'ext. phone booth (raining)',
       'ext. motel (stopped / raining)', 'int. motel (room six)',
       'int. Honda (moving)', "int. Butch's apartment", 'int. Honda',
       'int. Mason-Dixie pawnshop', 'int. pawnshop back room',
       "int. Russell's old room", 'ext. motel room', 'int. bathroom',
       'int. Nova (moving)', "int. Jimmie's kitchen",
       "int. Marsellus Wallace's dining room", "int. Jimmie's bedroom",
       'int. hotel suite', "int. Jimmie's house", "int. Jimmie's garage",
       'int. kitchen', 'int. garage', 'int. Chevy Nova',
       "ext. Jimmie's backyard", "ext. Monster Joe's Truck and Tow"],
      dtype=object)

In [9]:
df2.character.unique()

array(['Pumpkin', 'Honey Bunny', 'Waitress', 'Jules', 'Vincent', 'Brett',
       'Marvin', 'Roger', 'Marsellus', 'Butch', 'English Dave', 'Jody',
       'Trudi', 'Lance', 'Mia', 'Buddy', 'Ed Sullivan',
       'Preacher (Emil Simkus)', 'Mother', 'Capt. Koons', 'Klondike',
       'Sportscaster #1', 'Sportscaster #2', 'Esmarelda', 'Fabienne',
       'Pedestrian', 'Gawker #1', 'Gawker #2', 'Looky-loo woman',
       'Maynard', 'Zed', 'The Gimp', 'Fourth man', 'Jimmie', 'The Wolf',
       'Raquel', 'Manager'], dtype=object)

In [10]:
df2.line.unique()

array(["No, forget it, it's too risky. I'm through doin' that shit.",
       "You always say that, the same thing every time: never again, I'm through, too dangerous.",
       "I know that's what I always say. I'm always right too.", ...,
       "It's cold.", 'I think we oughta leave now.',
       "That's probably a good idea."], dtype=object)

In [11]:
df2.to_csv('../data/pulp_fiction_clean')