In [1]:
pip install config

Requirement already satisfied: config in /home/guillermo/anaconda3/lib/python3.8/site-packages (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import random
from numpy import record
import pandas as pd
import ast
import string
import spacy
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import regex as re

In [ ]:
from config.configuration import engine

In [7]:
def actor_characters():
    """
    Calls the database in MySQl and returns all the actor characters in a json format.
    """
    query = f"""
    SELECT film_character FROM actors
    """
    data = pd.read_sql_query(query,engine)
    return data.to_json(orient="records")

In [8]:
def lines():
    """
    Calls the database in MySQl and returns all the script lines in a json format.
    """
    query= f"""
    SELECT line_quote FROM line_quotes
    """
    data = pd.read_sql_query(query,engine)
    return data.to_json(orient="records")

In [9]:
def places():
    """
    Calls the database in MySQl and returns the different places where the film_characters 
    said their lines.
    """
    query = f"""
    SELECT place FROM place;
    """
    data = pd.read_sql_query(query,engine)
    return data.to_json(orient='records')

In [1]:
def actor_line(actor_name):
    """
    You can put the name of the author you want and this returns his name, the palce
    he is in and the script line he says.
    """
    query = f"""
    SELECT film_character, Frases.Frase, Campo.Campo
    FROM actors
    INNER JOIN line_quote ON actors_actor_id = actor_id
    INNER JOIN place ON place_id = place_place_id 
    WHERE actor_name = '{film_character}'
    """
    data = pd.read_sql_query(query,engine)
    return data.to_json(orient="records")